.ie-check {
    position: fixed;
    width: 100%;
    background: #DEDEDE;
    z-index: 99;
    height: 100%;
    color: #000;
    overflow: auto;
}

.ie-check--title{
    font-size: 2em;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 200px;
}

.ie-check--text{
    color: #313131;
    font-size: 1.1em;
    max-width: 600px;
}

.browser-item-container--title{
    font-size: 0.9em;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 15px;
}

.browser-items{
    display: inline-block;
    padding: 10px;
    background: #ffffff;
    border-radius: 6px;
    margin: 0 15px 15px 0;
    width: 150px;
}

.browser-items--image{
    width: 30px;
    vertical-align: top;
}

.browser-items-info{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.browser-items-info--title{
    font-size: 1em;
    font-weight: 700;
}

.browser-items-info--subtitle{
    font-size: 0.9em;
    opacity: 0.7;
}